<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/blueimp-gallery.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/jquery.blueimp-gallery.js"></script>
<script src="js/bootstrap-image-gallery.js"></script>
<script src="js/flickr-jquery.js"></script>
<script>
    var apiKey = '9dcfde14fdcc421c2f3bcaea8d78d1c1';
    var userId = '159715605@N08';
    $(function() {

        if (location.hash.slice(1) != "") {

            $('.spinner-wrapper').show();
            $('.gallery-container').empty();
            $("#" + location.hash.slice(1)).toggleClass("sidebar-selected")
            $('.gallery').flickr({
                apiKey: apiKey,
                userId: userId,
                photosetId: $("#" + location.hash.slice(1)).data("id"),
                loadingSpeed: 20,
            });
            $.extend(blueimp.Gallery.prototype.options, {
                useBootstrapModal: false,
                hidePageScrollbars: false
            });
        } else {

        }
    });

    $(window).on('hashchange', function() {
        if (location.hash.slice(1) != "") {
            $('.spinner-wrapper').show();
            $('.gallery-container').empty();
            $('.cat-link').removeClass("sidebar-selected")
            $("#" + location.hash.slice(1)).toggleClass("sidebar-selected")
            $('.gallery').flickr({
                apiKey: apiKey,
                userId: userId,
                photosetId: $("#" + location.hash.slice(1)).data("id"),
                loadingSpeed: 20,
            });
            $.extend(blueimp.Gallery.prototype.options, {
                useBootstrapModal: false,
                hidePageScrollbars: false
            });
        }

    });
</script>